@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&family=Fira+Code:wght@400;500&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-shadow {
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 1);
  }
}

@layer base {
  :root {
    --font-sans: 'Manrope', sans-serif;
    --font-mono: 'Roboto Mono', monospace;


    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 0 0% 3.9%;

    --radius: 0.5rem;

    --chart-1: 12 76% 61%;

    --chart-2: 173 58% 39%;

    --chart-3: 197 37% 24%;

    --chart-4: 43 74% 66%;

    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --ring: 0 0% 83.1%;

    --chart-1: 220 70% 50%;

    --chart-2: 160 60% 45%;

    --chart-3: 30 80% 55%;

    --chart-4: 280 65% 60%;

    --chart-5: 340 75% 55%;
  }
}
body {
  @apply bg-background text-foreground font-sans;
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}


pre {
  font-style: var(--font-mono);
  background-color: #202020;  /* Dark background color for the <pre> element */
  padding: 5px 10px;
  color: white;  /* Text color */
  border-radius: 10px;
  overflow-x: auto;  /* Enables horizontal scrolling if content exceeds the width */
  max-width: 100%;  /* Ensures the <pre> element takes up full width */
  white-space: pre-wrap;  /* Allows wrapping of long lines */
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-sans);
  font-weight: 700; /* Bold headings */
}
code{
  font-family: var(--font-mono);
  @apply text-shadow; /* Optional: subtle shadow effect */
}